---
http_interactions:
- request:
    method: get
    uri: https://dev-api.va.gov/services/va_facilities/v0/facilities?apikey=1mIePrQpAL04JeIJp3JTwnjkH8gQs5xK&lat=39.113014&long=-105.358887
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"4a7e3b4f3798f0a4040daf3d1e3a27b5"
      X-Git-Sha:
      - 2f0b41991d959107347bd84aad0ab25d3da37541
      X-Github-Repository:
      - https://github.com/department-of-veterans-affairs/vets-api
      X-Ratelimit-Limit-Minute:
      - '60'
      X-Ratelimit-Remaining-Minute:
      - '59'
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":"vha_554GE","type":"va_facilities","attributes":{"name":"PFC
        Floyd K. Lindstrom Department of Veterans Affairs Clinic","facility_type":"va_health_facility","classification":"Multi-Specialty
        CBOC","website":"http://www.denver.va.gov/locations/ColoradoSprings.asp","lat":38.8744641000001,"long":-104.84596127,"address":{"mailing":{},"physical":{"zip":"80907-4094","city":"Colorado
        Springs","state":"CO","address_1":"3141 Centennial Boulevard","address_2":null,"address_3":null}},"phone":{"fax":"719-227-4667
        x","main":"719-327-5660 x","pharmacy":"719-327-5660 x","after_hours":"303-399-8020
        x","patient_advocate":"719-227-4074 x","mental_health_clinic":"303-399-8020
        x 5687","enrollment_coordinator":"303-399-8020 x5137"},"hours":{"friday":"700AM-530PM","monday":"700AM-530PM","sunday":"Closed","tuesday":"700AM-530PM","saturday":"700AM-530PM","thursday":"700AM-530PM","wednesday":"700AM-530PM"},"services":{"other":["Online
        Scheduling"],"health":["DentalServices","MentalHealthCare","PrimaryCare","Audiology","Dermatology","Gynecology","Ophthalmology","Orthopedics","Urology"],"last_updated":"2019-04-03"},"satisfaction":{"health":{"primary_care_urgent":0.61,"primary_care_routine":0.74},"effective_date":"2018-05-22"},"wait_times":{"health":[{"service":"Urology","new":null,"established":2.0},{"service":"Audiology","new":28.0,"established":6.0},{"service":"Gynecology","new":14.0,"established":8.0},{"service":"Dermatology","new":32.0,"established":15.0},{"service":"Orthopedics","new":61.0,"established":35.0},{"service":"PrimaryCare","new":29.0,"established":7.0},{"service":"MentalHealth","new":18.0,"established":12.0},{"service":"Ophthalmology","new":22.0,"established":4.0}],"effective_date":"2019-03-25"}}},{"id":"vha_554BU","type":"va_facilities","attributes":{"name":"Valor
    [...]
